@import 'assets/tokens.scss';

.settings{
  .setting-title {
    font-family: "PingFang SC";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
  }
  .form{
    &:not(:last-child){
      margin-bottom: 20px;
    }backgroundBg
    .settings-title{
      font-weight: 500;
      margin: 18px 0 12px 0;
      font-size: 12px;
    }
    .settings-design {
      font-weight: 400;
      margin: 18px 0 12px 0;
      font-size: 12px;
    }
    .form-item{
      &-checkbox{
        label{
          display: flex;
          align-items: center;
          padding: 2px 0;
          transition: color 0.2s;
          cursor: pointer;
          &:hover{
            color: $white-85;
          }
          input {
            margin-right: 4px;
            color: $backgroundBg
          }
        }
        .help-block{
          color: #a9abb4;
          margin-left: 24px;
          font-weight: 400;
          padding: 0;
          font-size: 11px;
        }
      }
    }
  }
}