@import "assets/tokens.scss";

.mark-distance{
  position: absolute;
  color: $baseBackgroundBg;
  background: #00B6B6;
  &-sizing{
    position: absolute;
    padding: 0 6px;
    border-radius: 2px;
    background: $primary-color;
    font-size: 12px;
    pointer-events: none;
  }
  &-v{
    width: 1px;
    .mark-distance-sizing{
      border-radius: 16px;
      font-size: 12px;
      font-weight: 500;
      padding: 4px 6px;
      position: absolute;
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
      z-index: 2;
    }
  }
  &-h{
    height: 1px;
    .mark-distance-sizing{
      border-radius: 16px;
      font-size: 12px;
      padding: 4px 6px;
      font-weight: 500;
      position: absolute;
      bottom: 3px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
  }
}
