@import 'assets/tokens.scss';

.collapse-button {
  outline: none;
  position: absolute;
  top: 49px;
  width: 24px;
  height: 24px;
  padding: 0;
  color: $black-title;
  background-color: $baseBackgroundBg;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.09);
  border: none;
  vertical-align: middle;
  transition: all 0.2s;
  cursor: pointer;
  z-index: 1000;

  &-left {
    right: -16px;
    border-radius: 100px;
  }

  &-right {
    left: -16px;
    border-radius: 100px;
  }

}