@import 'assets/tokens.scss';
@import 'prismjs/themes/prism-tomorrow.css';

.right-props {
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // background: #222531;
  // overflow: auto;
  // z-index: 1;
  // transition: transform 0.2s;

  &-starting {
    transform: translateX(260px);
  }

  &-entering,
  &-entered {
    transform: translateX(0);
  }

  &-leaving,
  &-leaved {
    transform: translateX(260px);
  }

  .props-section {
    padding: 12px;
    border-bottom: 1px solid #ededf0;

    &:last-child {
      border-bottom: none;
    }

    .section-title {
      display: flex;
      align-items: center;
      margin: 0;
      margin-bottom: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      align-self: stretch;
      color: #000;
      font-family: "PingFang SC";
      font-size: 14px;
      font-weight: 500;

      .title-name {
        
        flex: 1;
      }

      &.section-name {
        margin: 0;
        font-weight: 400;
        .ant-select-selector {
          width: 65px !important;
        }
        span {
          flex: 1;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .section-helper {
      font-size: 12px;
      color: rgba($color: #FFF, $alpha: 0.36);

      >span,
      >svg {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .section-items {
      .copiable-input {
        display: flex;
        align-items: center;
        align-content: space-around;
        background: none;
        border-radius: 2px;
        transition: background 0.2s;
      }
      .item-block {
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &.props-strokes {
      .mixed-strokes {
        margin-top: 4px;
      }
    }

    &.props-component {
      .component-variants {
        margin-top: 4px;

        >li {
          margin-bottom: 4px;

          &:last-child {
            margin-bottom: 0;
          }

          >span {
            display: flex;
            padding: 2px 6px;
            border-radius: 2px;
            font-size: 12px;
            transition: background 0.2s;
            overflow: hidden;
            cursor: pointer;

            &:hover {
              background-color: #1C1F2A;
            }

            .property-label {
              flex-shrink: 0;
              width: 60px;
              margin-right: 6px;
              color: $primary-color;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
    }

    &.props-basic {
      .section-items {
        height: 70px;
        font-size: 12px;
        display: flex;
        flex-flow: wrap;
        align-content: space-around;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;
        .copiable-input {
          flex: 0 1 47%;
        }
      }
    }

    &.props-code {
      .section-items {
        position: relative;
        border-radius: 2px;
        font-size: 12px;
        background: $backgroundBg;
        color: #000311;
        .code-copy {
          position: absolute;
          top: 8px;
          right: 6px;
          width: 14px;
          height: 14px;
          color: #a9abb4;
          cursor: pointer;
          transition: color 0.2s;

      
          &:hover {
            color: $green-1;
          }

          &:active {
            color: $green-1;
          }
        }

        .code-box {
          display: block;
          margin: 0;
          margin-right: 24px;
          padding: 12px;
          overflow-x: auto;
          white-space: pre-wrap;
          .token.property {
            color: #00c8c8;
          }
          .token.function {
            color: #000311;
          }

        }
      }
    }

    &.props-export {
      padding: 0;

      .section-title {
        margin-bottom: 0;
        padding: 12px;
      }
    }
  }
}