.markBox {
    .node {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 12px 0px 12px;
        border-bottom: 1px solid #ededf0;
        .nodeName {
            color: #000;
            font-size: 14px;
            width: 100px;
            word-break:keep-all;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
        }
        .nodeSelect {
            :gloabl(.ant-select ) {
                width: 28px;
                height: 14px;
            }
        }
    }
    .place {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        margin-bottom: 0;
        padding: 12px;
    }
  
}